@use 'variables';
@use 'mixins';

.about{
	@include mixins.default-grid;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(var(--blue), var(--teal));
    padding: 0 2rem;
    grid-auto-rows: max-content;

    &__image{
        @include mixins.default-img;
        justify-self: center;
        height: 15rem;
        width: 15rem;
        border-radius: 0.7rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__text{
        font-size: 1rem;
        line-height: 1.4;
    }

    &__link{
        margin: 3rem 0.5rem;
        font-size: 1.5rem;


        &_linkedin{
            grid-column: 1/2;
            grid-row: 3/4;
            justify-self: left;
            margin-left: 5rem;
        }

        &_resume{
            grid-column: 1/2;
            grid-row: 3/4;
            justify-self: right;
            margin-right: 5rem;
        }
    }
}