@use 'variables';
@use 'mixins';
  
.cube {
  @include mixins.default-grid;

  &__slot{
    place-self: center center;

	@media (min-width: 500px) {
		transform: scale(1.5);
	}

	@include mixins.landscape{
		transform: scale(1.75);
	}
  }

  &__content{
    @include mixins.default-grid;
    place-content: center center;
    width: 100%;
    height: 100%;
  }

  &__logo{
    @include mixins.default-grid;
    position: relative;
  }

  &__letter{
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: rgba(244, 234, 230,1);
    font-size: 6.3rem;
  }
}

._front_bssuh_32 { background-color: rgba(229, 114, 131,1); }
._right_bssuh_35 { background-color: rgba(66, 151, 160, 1); }
._back_bssuh_38  { background-color: rgba(229, 114, 131,1); }
._left_bssuh_41   { background-color: rgba(66, 151, 160, 1); }
._top_bssuh_44    { background-color: rgba(244, 234, 230,1); }
._bottom_bssuh_47 { background-color: rgba(244, 234, 230,1); }

.enter-transition{
    transition: transform 2s ease-in-out;
}

.exit-transition{
    transition: transform 0.75s ease-in-out;
}

.initial-cube {
  transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(-225deg) rotateZ(0deg) !important;
}

._cube_bssuh_1 {
    cursor: pointer;
}

.e{
	position: relative;
	place-self: center center;

	&_audiowide{
		font-family: 'Audiowide', cursive;
		font-size: 5.75rem;
	}

	&_dark{
		color: var(--blue);
	}

	&__curve-up{
		position: absolute;
		bottom: 0.85rem;
		left: 3.1rem;

		width: 2.5rem;
		height: 5.45rem;
		border-radius: 0.6rem;

		&_dark{
			border-bottom: 12px solid var(--blue);
			border-right: 12px solid var(--blue);
		}
	}

	&__curve-down{
		position: absolute;
		bottom: -0.3rem;
		right: -1.1rem;

		width: 6.6rem;
		height: 6.6rem;
		border-radius: 0.6rem;

		&_dark{
			border-top: 12px solid var(--blue);
			border-left: 12px solid var(--blue);
		}
	}

	&__curve-across{
		position: absolute;
		top: 5.25rem;
		right: -1.2rem;

		width: 6.7rem;
		height: 1rem;
		border-bottom-left-radius: 0.6rem;

		&_dark{
			border-bottom: 12px solid var(--blue);
			border-left: 12px solid var(--blue);
		}
	}

}