@use 'variables';
@use 'mixins';
  
.nav-menu {
  display: flex;
  flex-direction: column;

  @media (min-width: 455px) {
    flex-direction: row;
    flex-wrap: unset;
    justify-content: space-between;
  }

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;

  &__button{

  }
  
}