@use 'variables';
@use 'mixins';
  
.nav-menu {
  display: flex;
  flex-direction: column;
  

  @media (min-width: 420px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (min-width: 780px) {
    flex-direction: row;
    flex-wrap: unset;
    justify-content: space-between;
  }

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;

  &__button{
    @media (min-width: 420px) {
        margin-bottom: 0.5rem;
    }
  }
  
}