@use 'variables';
@use 'mixins';

.projects{
	@include mixins.default-grid;
	@include mixins.section-container;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.section-heading;
		text-align: right;
        padding-right: 5rem;
		font-family: var(--heading-font);
		text-transform: var(--text-transform);
		background-color: var(--blue);

		@include mixins.landscape{
			font-size: var(--heading-font-big);
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 2rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 7rem;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(21.35rem, 0.29fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;
		background: #edf4f7;

		&:before{
			content: "";
			position: absolute;
			bottom: -1.25rem;
			border-bottom: dashed 3px var(--blue);
			width: 100%;
			cursor: default;
		}

		&:after{
			content: "";
			position: absolute;
			bottom: -3.85rem;
			width: 100%;
			height: 2rem;
			background: var(--blue);
			cursor: default;
			border-radius: 0.7rem;
		}
	}

	&__link-row{
		position: absolute;
		bottom: 1rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	&__link{
		background-color: var(--teal);
		padding: 10px;
		color:white;
		font-weight:bold;
		border-radius: 0.7rem;
		transition: all 200ms ease-in-out;

		&:hover{
			background: var(--blue);
		}
	}

	&__subheading{
		display: block;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 1.1;
		text-align: center;
		margin: 1rem 1rem 0rem;
		color: var(--blue);
		text-transform: var(--text-transform);
		font-family: var(--heading-font);

		@include mixins.wide-screen{
			margin-top: 1.5rem;
		}
	}

	&__caption{
		margin-top: 1rem;
		font-size: 1.05rem;
		padding: 0 1.5rem;
		line-height: 1.5;
		text-align: center;
	}
}

.checkbox-filters{
	display: none;

	@include mixins.landscape{
		display: flex;
		place-self: center right;
		padding: 0 3%;
		margin-top: 1rem;
		font-size: 1.05rem;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&__category{
			margin-right: 1.3rem;
			user-select: none;
		}
	}
}

.dropdown-filters{
	font-size: 1.05rem;
	margin: 0.5rem 3% 0;
	place-self: center right;
	padding: 0.25rem;
	border-radius: 0.7rem;

	@include mixins.landscape{
		display: none;
	}
}

.checkbox-filters{
	display: none;

	@include mixins.landscape{
		display: flex;
		place-self: center right;
		padding: 0 3%;
		margin-top: 1rem;
		font-size: 1.05rem;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&__category{
			margin-right: 1.3rem;
			user-select: none;
		}
	}
}